<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Installed-version, signer and downgrade checks must see every package, launchable or not. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application android:name=".InstallerApplication" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:label="PlayInstaller"
        android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShareInstallActivity" android:exported="true"
            android:theme="@style/ShareDialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/vnd.apks" />
                <data android:mimeType="application/vnd.xapk" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/vnd.apkm" />
                <data android:mimeType="application/vnd.apks" />
                <data android:mimeType="application/vnd.xapk" />
            </intent-filter>
        </activity>
        <service android:name=".InstallService" android:exported="false" android:foregroundServiceType="dataSync" />
    </application>
</manifest>
